<!doctype html>

  <head>
    <meta charset="utf-8">
    <title>Welcome....to Battle</title>
    <link href="<%= url("/styles.css") %>" rel="stylesheet" type="text/css"/>
  </head>

  <body>
    <div class="wrapper">
      <h2><%=@p1_name%> vs. <%=@p2_name%>!</h2>
      <span class="health">P1 Health is <%=@p1_hp%></span> | <span class="health">P2 Health is <%=@p2_hp%></span> 
      <br>
      <p>P1 Attacked P2!</p>
    </div>
  </body>

</html>